<!-- Fixed navbar menu -->
{{> myNavbarMenu }}

<div class="container theme-showcase" role="main">
<br>
    <div class="page-header">
        <h3>Supply Chain</h3>
    </div>
    <table class="table table-bordered">
        <tr>
            <th></th>
            <td colspan=6><span class="label label-success text-center">Manufacturer's Factory</span></td>
            <th colspan=4><span class="label label-info">Retailer's Distribution Centre</th>
        </tr>
        <tr>
            <th></th>
            <th>Encode and tag</th>
            <th>Pack items in cases</th>
            <th>Print case label</th>
            <th>Print pallet label</th>
            <th>Pack cases into pallets</th>
            <th>Ship the pallet</th>
            <th>Receive the pallet</th>
            <th>Put away the pallet</th>
            <th>Disaggregate the pallet</th>
        </tr>
        <tr>
            <th>Vehicle</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Pallet</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Case</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Item</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>



</div> <!-- /container -->

